apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  namespace: todo-app
  labels:
    app: todo-api
    version: v1
spec:
  replicas: 2                      
  strategy:
    type: RollingUpdate            
    rollingUpdate:
      maxSurge: 1                 
      maxUnavailable: 0           
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
        version: v1
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: todo-api
        image: siwar10/todo-api:1.0.0
        
  
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        
        
        envFrom:
        - configMapRef:
            name: todo-api-config
        
        
        livenessProbe:                     
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
        
        readinessProbe:                    
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 2
          failureThreshold: 3
        
      
        resources:
          requests:                       
            memory: "128Mi"
            cpu: "100m"
          limits:                         
            memory: "256Mi"
            cpu: "200m"
        
        
        securityContext:
          runAsNonRoot: true
          runAsUser: 1001
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities:
            drop:
            - ALL
      
     
      restartPolicy: Always